* {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
}

:root {
  --white: #fff;
  --black: #000;

  --font-sans: "Manrope", ui-sans-serif, system-ui, sans-serif;
  --font-mono:
    "Manrope Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
